/********************* BASE STYLES ***************************/

body {
    color: #222222;
    background-color: #f1e0cb;
    font-weight: bold;
    font-size: 16px;
}

.full-width {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #521818;
    cursor: pointer;
    display: block;
}

a:hover {
    color: #7a2424;
}

img {
    max-width: 100%;
}

h2 {
    font-family: 'Homemade Apple', cursive;
}

h3 {
    margin: 0;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.2em;
}

p {
    font-family: 'Lato', sans-serif;
}


/****************** Header *********************/

header {
    background-color: #a97272;
}

header .full-width {
    padding-left: 3px;
}

header h1 {
    width: 100%;
    padding: 30px 0;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.8em;
    color: #f1e0cb;
    text-align: center;
    border-bottom: #f1e0cb solid 1px;
}

header h1 a {
    color: #f1e0cb;
    text-decoration: none;
}

header a:hover {
    color: #ffffff;
}

nav {
    width: 100%;
    padding: 0 0 10px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    color: #f1e0cb;
}


/************************ Footer ********************/

#contact {
    background-color: #ebebeb;
    text-align: center;
    padding: 50px 0 0 0;
}

#contact .full-width {
    padding: 110px 0;
}

#contact h3 {
    font-size: 1.5em;
    line-height: 44px;
    padding: 20px 0;
}

.social-icons a {
    text-decoration: none;
    color: #d89482;
    font-weight: bold;
    font-size: 28px;
    height: 56px;
    width: 56px;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    display: inline-block;
    padding: 0 15px;
}

.copyright {
    padding: 10px 0 20px 0;
    font-size: 0.9em;
}

.credit {
    color: #9c9797;
    font-size: 0.8em;
    line-height: 1.3em;
    padding-top: 5px;
}

.credit a {
    display: inline;
}


/************************ About *********************/

#about {
    height: auto;
    background: url('../img/three-yarns-opacity-50-fade.png') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#about .full-width {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bio {
    display: flex;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: rgba(169, 114, 114, 0.6) /* Pink background with 60% opacity */;
}

.bio h2 {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 1.3em;
}

.bio p {
    width: 90%;
    line-height: 30px;
    padding-top:10px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: justify;
}

/************************ Pattern Page Styles *********************/

#patterns {
    height: auto;
    min-height: 300px;
    background: url('../img/three-yarns-opacity-50-fade.png') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.pattern-list {
    display: flex;
    width: 90%;
    padding-bottom: 50px;
    justify-content: center;
    flex-flow: row wrap;
    background: rgba(169, 114, 114, 0.6);
}

.pattern-list h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0;
}

.pattern-list a {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.7em;
    margin-bottom: .25em;
}

.pattern-list p {
    width: 90%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}

.pattern-list a img {
    border: solid #521818 1px;
    border-radius: 100%;
    width: 3em;
    margin: 10px;
}

.pattern-list a img:hover {
    opacity: 0.6;
}

.pattern-listing {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 1em;
}

.pattern-listing p {
    margin-top: 1em;
    margin-left: 1.5em;
    line-height: 1.2em;
}

/************************ FAQ Page Styles *********************/

#faq {
    height: auto;
    min-height: 300px;
    background: url('../img/three-yarns-opacity-50-fade.png') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.questions {
    display: flex;
    width: 90%;
    padding-bottom: 50px;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
    background: rgba(169, 114, 114, 0.6);
}

.questions h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 30px 0 10px 0;
    line-height: 1.5em;
}

.questions h3 {
    width: 100%;
    padding-left: 25px;
    padding-right: 15px;
    font-size: 1.6em;
    margin: 10px 0;
}

.questions p {
    width: 95%;
    padding-left: 30px;
    padding-right: 20px;
    text-indent: 15px;
    line-height: 1.4em;
    text-align: justify;
}

.questions p a {
    display: inline;
}

/************************ Individual Pattern Page Styles *********************/

#pattern {
    height: auto;
    min-height: 300px;
    background: url('../img/three-yarns-opacity-50-fade.png') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.instructions {
    display: flex;
    width: 90%;
    padding-bottom: 50px;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
    background: rgba(169, 114, 114, 0.5); /** 50% opacity for pattern pages **/
}

.instructions h2 {
    width: 100%;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3em;
    padding: 30px 0 10px 0;
    line-height: 1em;
    text-shadow: 2px 2px #a97272;
}

.instructions h3 {
    width: 100%;
    padding-left: 15px;
    font-size: 2em;
    margin: 10px 0;
}

.instructions h4 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.8em;
    margin: 0;
    padding-left: 15px;
}

.instructions p {
    width: 95%;
    padding-left: 30px;
    padding-right: 30px;
    text-indent: 15px;
    line-height: 1.4em;
    text-align: justify;
}

.instructions ul li {
    font-family: 'Lato', sans-serif;
}

.instructions .full-width {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.project-photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-photo img {
    width: 80%;
    border: solid 10px;
    border-color: rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    margin-bottom: 20px;
}

.special-note {
    width: 80%;
    background: rgba(128, 128, 128, 0.6);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.special-note ul {
    line-height: 1.4em;
    padding-right: 20px;
    text-align: justify;
}

.graph-pattern {
    width: 80%;
    background: rgba(128, 128, 128, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.graph-pattern img {
    width: 100%;
    margin-bottom: 5px;
}

.graph-key {
    width: 100%;
}

.graph-key ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 30px;
}

.written-key {
    padding-left: 30px;
}

.written-key ul {
    list-style: none;
}

.instructions a {
    display: inline;
}

/******************* Tablet Styles *****************/

@media screen and (min-width: 768px) {

    header,
    #about,
    footer {
        font-size: 1.2em;
    }

    header .full-width {
        justify-content: space-between;
    }

    header h1 {
        width: 60%;
        text-align: left;
        border-bottom: 0px;
        padding: 30px 0 20px 0;
        margin-bottom: 0;
    }

    header nav ul {
        justify-content: space-evenly;
    }

    nav ul li {
        padding-left: 20px;
        padding-right: 0px;
    }

    nav {
        width: 40%;
        padding: 45px 0 0px 0;
    }

    #about .full-width {
        justify-content: space-around;
    }

    .bio,
    .questions,
    .instructions {
        width: 80%;
    }

    .social-icons a {
        width: 62px;
        height: 62px;
    }

    #contact ul li {
        padding: 0 20px;
    }

    .graph-pattern {
        width: 70%;
    }

    .questions h2 {
        padding-bottom: 30px;
    }

    .questions h3 {
        padding-left: 60px;
    }

    .questions p {
        padding-left: 75px;
        padding-right: 60px;
    }

    .instructions p {
        padding-right: 30px;

    }


/********************* Desktop Styles ***********************/

@media screen and (min-width: 992px) {

    header h1 {
        width: 60%;
        text-align: left;
        border-bottom: 0px;
        padding: 30px 0 35px 0;
        margin-bottom: 0;
    }

    #about {
        min-height: 615px;
    }

    .bio {
        padding-bottom: 0;
        justify-content: space-around;
        align-items: flex-start;
    }

    .bio h2 {
        width: 100%;
    }

    .bio p {
      width: 42%;
      padding-bottom: 35px;
    }

    .social-icons a {
      width: 68px;
      height: 68px;
    }

    #contact ul li {
      padding: 0 25px;
    }

    .pattern-list a {
      font-size: 1.8em;
    }

    .graph-pattern {
      width: 60%;
    }

}
